---
import ThemeToggle from "../components/ThemeToggle";

export const prerender = true;
const { headerColor, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience."
    />
    <style is:global>
      /* Enable View Transition */
      @view-transition {
        navigation: auto;
      }

      @keyframes circle-show {
        0% {
          clip-path: circle(0% at 0% 0%);
        }
        100% {
          clip-path: circle(calc(100% * sqrt(2)) at 0% 0%);
        }
      }

      html:active-view-transition-type(theme) {
        &::view-transition-old(root) {
          animation: none;
        }

        &::view-transition-new(root) {
          animation: 0.5s circle-show ease-in-out;
        }
      }
    </style>
    <style lang="scss" define:vars={{ headerColor }}></style>
    <script is:inline>
      // TODO: Move theme logic to utils
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="dark:bg-slate-900">
    <ThemeToggle client:visible />
    <h1 class="text-3xl font-bold text-[--headerColor] underline">{title}</h1>
    <a class="block dark:text-white" href="/">Index</a>
    <a class="block dark:text-white" href="/page1/">Page 1</a>
    <a class="block dark:text-white" href="/page2/">Page 2</a>
    <a class="block dark:text-white" href="/page3/">Page 3</a>
    <slot />
  </body>
</html>
