---
export const prerender = true;
const { headerColor, title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience."
    />
    <style is:global>
      /* Enable View Transition */
      @view-transition {
        navigation: auto;
      }
    </style>
    <style lang="scss" define:vars={{ headerColor }}></style>
  </head>
  <body>
    <h1 class="text-3xl font-bold text-[--headerColor] underline">{title}</h1>
    <a class="block" href="/">Index</a>
    <a class="block" href="/page1/">Page 1</a>
    <a class="block" href="/page2/">Page 2</a>
    <a class="block" href="/page3/">Page 3</a>
    <slot />
  </body>
</html>
